@{
    ViewData["Title"] = "Confirmação deletar produto";
}

<div class="text-center">
    <h3>Deseja Deletar o produto (Mouse)?</h3>
    <a class="btn btn-danger" role="button" asp-controller="Produto" asp-action="Index">
        Cancelar
    </a>
    <a class="btn btn-success" role="button" asp-controller="Produto" asp-action="Delete">
        Confirmar
    </a>
</div>

